body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure,figcaption{
	margin: 0;
	padding: 0;
}
html,body{
	font: 12px "微软雅黑",Arial;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-size: 100%;
	font-weight: normal;
}
i,em{
	font-style: normal;
}
ul,ol{
	list-style: none;
}
a{
	color: #666;
	text-decoration: none;
}
img{
	vertical-align: middle;
}
input{
	outline: none;
}
.clearfix::after{
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;/* 解决高度塌陷 */
}

